@media screen and (max-width: 792px) {
	.TopNavMenu {
		.TopNavMenu_left_block {
			width: 100%;

			.TopNavMenu_left_block_search {
				display: none;
			}
		}

		.TopNavMenu_right_block {
			display: none;
		}
	}
}
