.RecomendationComponents {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 20px;
	gap: 24px;
	width: 100%;
}

@import "./components/RecomendChannels/RecomendChannels";
@import "./components/TrendTopic/TrendTopic";
