#start server/ block (create .env only in server/ )

#settings
PROD='True-or-False'
ALLOWED_HOSTS="your-url-api"
DB_NAME="your-db-name"
DB_USER="your-db-username"
DB_PASSWORD="your-db-user-password"
DB_HOST="your-db-url"
CORS_ALLOWED_ORIGINS='your-url'

#email sending
EMAIL_HOST='smtp.google.com'
EMAIL_PORT='587'
EMAIL_USE_TLS=True
EMAIL_HOST_USER='name@gmail.com'
EMAIL_HOST_PASSWORD='your-password'

#oauth
GOOGLE_CLIENT_ID="your-id"
GOOGLE_CLIENT_SECRET='your-secret-key'

#end server/ block

#start client/ block (create .env only in client/)

#Frontend
VITE_URL_API="http://your-ip:8000/api/"

#end client/ block