.RegisterForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    width: 60%;

    button {
        width: 100%;
        height: 53px;
        background-color: #7F13EC;
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .RegisterForm_title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        h2 {
            font-size: 30px;
            font-weight: bold;
            color: white;
        }
        p {
            font-size: 16px;
            color: #94A3B8;
        }
    }

    .RegisterForm_inputs {
        display: flex;
        flex-direction: column;
        gap: 25px;

        span {
                font-size: 14px;
                font-weight: bold;
                color: red;
                padding-left: 30px;
            }

        label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
            position: relative;
            
            h3 {
                font-size: 14px;
                font-weight: bold;
                color: #E2E8F0;
            }

            input {
                width: 100%;
                height: 53px;
                background: none;
                border: 1px solid rgba(127, 19, 236, 0.2);
                border-radius: 8px;
                font-size: 16px;
                color: #94A3B8;
                padding: 0 49px;
                outline: none;
            }

            .icon {
                position: absolute;
                left: 16px;
                top: 65%;
                transform: translateY(-50%);
                color: #94A3B8;
            }
        }
    }
}