.PostPage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 24px;
	background-color: #120b1a;
	width: 100%;
	padding: 20px;

	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
		width: 15%;
		height: 40px;
		background-color: #261933;
		padding: 12px;
		border-radius: 8px;
		color: #ad92c9;
		font-size: 14px;
		font-weight: bold;
	}

	.PostPage_content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		width: 40%;

		.PostPage_content_videoPlayer {
			width: 100%;
		}
	}
}

@import "./components/PostInfo/PostInfo";
@import "./components/Comments/Comments";
