.NotifyMenuMessage {
    display: flex;
    flex-direction: row;
    gap: 10px;

    img {
        width: 32px;
        object-fit:contain;
    }

    .NotifyMenuMessage_content {
        display: flex;
        flex-direction: row;
        font-size: 12px;

        h4 {
            width: 20%;
        }
    }
}