.CommentBox {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 16px;

	img {
		object-fit: contain;
	}

	.CommentBox_content {
		display: flex;
		flex-direction: column;
		gap: 6px;

		.CommentBox_content_header {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;

			h1 {
				font-size: 18px;
				color: white;
			}

			span {
				font-size: 14px;
				color: #ad92c9;
				text-transform: uppercase;
			}
		}

		.CommentBox_content_text {
			display: flex;
			flex-direction: column;
			padding: 11px;
			border-radius: 16px;
			border-top-left-radius: 0;
			border: 1px solid rgba(127, 19, 236, 0.2);
			background-color: rgba(127, 19, 236, 0.05);

			p {
				color: white;
				word-break: inherit;
			}
		}

		.CommentBox_content_footer {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 32px;

			section {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 4px;

				span {
					font-size: 12px;
					color: #ad92c9;
					font-weight: bold;
				}
			}

			button {
				border: none;
				background: none;
				width: fit-content;
				height: fit-content;
				color: #7f13ec;
				font-size: 12px;
				font-weight: bold;
				cursor: pointer;
			}
		}
	}
}
